* {
    margin: 0px;
    padding: 0px;
}

.grid-box {
    border: solid darkgray 1px;
    background-color: #bcbdc2;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    box-sizing: border-box;
}

#grid-container {
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-box-filled {
    background-color: #424242;
}